{pre_hooks,  [{compile, "make -C c_src"}]}.
{post_hooks, [{clean,   "make -C c_src clean"}]}.

{profiles,
  [{test,
    [{plugins, [rebar3_proper]},
     {deps,
      [{proper, ".*",
        {git, "https://github.com/manopapad/proper.git", "def84f172df92635cc62f3356e3e7ad054638eb4"}},
       {rebar3_proper, ".*",
        {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.6.2"}}}
      ]}]}]}.
