{pre_hooks, [{compile, "./build.sh"}]}.
{post_hooks, [{clean, "rm -f priv/granderl.so"}]}.
%% For rebar2 compatibility: everything is built by build.sh, so we
%% needn't specify any dependencies here.
{port_specs, [{"priv/granderl.so", []}]}.

{profiles,
  [{test,
    [{plugins, [rebar3_proper]},
     {deps,
      [{proper, ".*",
        {git, "https://github.com/manopapad/proper.git", {tag, "v1.2"}}},
       {rebar3_proper, ".*",
        {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.6.2"}}}
      ]}]}]}.
